.navbar {
    background-color: #87CEEB;  
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    padding: 12px 20px;
// Définir une variable pour la taille de police
$menu-icon-font-size: 1.8rem;

.menu-icon {
  font-size: $menu-icon-font-size;
  transition: font-size 0.3s ease; // Pour une transition fluide

  // Responsivité pour les écrans plus petits
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  // Effet de survol pour agrandir l'icône
  &:hover {
    font-size: 2rem;
  }
}
}